{% extends 'base.html.twig' %}

{% block title %}Page Menu{% endblock %}

{% block body  %}
<!-- MENU-->
     <section id="menu" data-stellar-background-ratio="0.5" style="background-color: #e3f2fd;">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                              <h2>Nos Menus</h2>
                              <h4>Moment thé &amp; Dinner</h4>
                         </div>
                    </div>

                    {% if menus %}
                         {% for plat in menus %}
                              <div class="col-md-4 col-sm-6">
                                   <!-- MENU THUMB -->
                                   <div class="menu-thumb">
                                        <a href="{{plat.image}}" class="image-popup" title="American Breakfast">
                                             <img src="{{plat.image}}" class="img-responsive" alt="">

                                             <div class="menu-info">
                                                  <div class="menu-item">
                                                       <h3>{{plat.nom}}</h3>
                                                       <p>{{plat.description}}</p>
                                                  </div>
                                                  <div class="menu-price">
                                                       <span>{{plat.prix}}$</span>
                                                  </div>
                                                  {% if app.user %}
                                                       <div class="menu-price">
                                                       <a href="{{ path('add_panier',  {id: plat.id, uid: app.user.id})}}" class="section-btn">Commander</a>
                                                  </div>
                                                  {% else %}
                                                       <div class="menu-price">
                                                       <a href="{{ path('app_login')}}" class="section-btn">Commander</a>
                                                  </div>
                                                  {% endif %}
                                             </div>
                                        </a>
                                   </div>
                              </div>
                         {% endfor %}
                    {% else %}
                         <h2 class="text-danger">Aucun plat disponible</h2>
                    {% endif %}
               </div>
          </div>
     </section>

{% endblock %}
